/* Inner Atlas Rest */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    overscroll-behavior: none;
    /* Prevent bounce */
}

ul,
ol {
    list-style: none;
}

button,
input,
select {
    font: inherit;
    border: none;
    background: none;
}

a {
    color: inherit;
    text-decoration: none;
}